/*HBox con imagen de fondo */
.hbox-background {
    -fx-background-image: url("imgs/imgMg0.jpg");
    -fx-background-size: cover;  /* Hace que la imagen cubra el 100% de la img*/
    -fx-background-repeat: no-repeat;  /* Evita que la imagen se repita */
}

/*Label Menu*/
.labelMenu-styles{
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: purple;
    -fx-padding: 10px;
    -fx-border-radius: 50%;
    -fx-border-color: purple;
    -fx-border-width: 2px;
    -fx-background-color: black;
}

/*Label Nombre de la carta*/
.NombreCarta-styles{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
/*Label mensaje Error*/
.Error-styles{
        -fx-text-fill: red;
}

/*StackPaneStyles*/
.VBoxCarta-styles{
      -fx-background-color: #BEBEBE;
      -fx-padding: 50px;
      -fx-border-color: black;
      -fx-border-width: 2px;
}


.TextFieldBuscador-styles{
    -fx-pref-width: 300px;
    -fx-pref-height: 25px;
}